/* Add this CSS to portfolio.css */
.portfolio .row {
  display: grid;
  grid-template-columns: repeat(1, 800px);
  gap: 3rem;
  justify-content: center;
}

.proj-imgbx {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.proj-imgbx img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.proj_what_i_do__title {
  color: #fff;
  font-weight: bold;
}
.proj_what_i_do__list {
  text-align: left;
  padding-left: 0.015rem;
}
.proj-txtx {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1.5rem;
  color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.9;
}

.proj-txtx h4 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.proj-txtx span {
  font-size: 1rem;
  display: block;
  margin-bottom: 10px;
}
.proj_what_i_do__item {
  font-size: 0.9rem;
}

/* Buttons */
.proj_buttons {
  padding-top: 10px;
}
.proj-txtx .button {
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}

.proj-txtx a {
  margin: 0 5px;
  text-decoration: none;
}

.proj-txtx a button {
  padding: 8px 15px;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

.proj-txtx a button:hover {
  background-color: #fff;
  color: #313131;
  transform: scale(1.1);
}

.proj-imgbx:hover .proj-txtx {
  transform: translateY(0);
}

.proj-imgbx:hover img {
  transform: scale(1.05);
}

/* Responsive Styles */
@media screen and (max-width: 992px) {
  .proj-txtx a button:hover,
  .proj-imgbx:hover .proj-txtx,
  .proj-imgbx:hover img {
    transform: none; /* Set back to default */
  }
  .portfolio .row {
    grid-template-columns: repeat(1, 700px);
    row-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .proj-txtx {
    transform: rotateY(0);
  }
  .portfolio .row {
    grid-template-columns: repeat(1, 600px);
  }
  .proj-txtx h4 {
    font-size: 1.5rem;
  }
  .proj-txtx h3 {
    font-size: 1rem;
  }
  .proj-txtx span {
    font-size: 0.8rem;
  }
  .proj_what_i_do__item {
    font-size: 0.79rem;
  }
}

@media screen and (max-width: 576px) {
  .proj-imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .proj-imgbx {
    height: 450px;
  }
  .portfolio .row {
    grid-template-columns: repeat(1, 350px);
  }
  .proj-txtx {
    padding: 1rem;
  }

  .proj-txtx h4 {
    font-size: 1rem;
  }
  .proj-txtx h3 {
    font-size: 0.8rem;
  }
  .proj-txtx span {
    font-size: 0.75rem;
  }
  .proj_what_i_do__item {
    font-size: 0.75rem;
  }
}
